* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

/* FORM */

.flight-booker-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.flight-select {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
}
.flight-select option {
  background: yellow;
  color: red;
}

.date-input {
  padding: 0.5rem;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

/* BUTTON */

.submit-btn {
  padding: 0.5rem 1.5rem;
  background: #6bab11;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
  background: #7ac215;
  transform: scale(1.03);
}
